*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
overflow:hidden;
height:100vh;
font-family:sans-serif;
background:black;
}

#video{

position:fixed;

width:100%;
height:100%;

object-fit:cover;

filter:
brightness(.35)
blur(3px);

}

.cursor{

position:fixed;

width:300px;

height:300px;

background:
radial-gradient(
white,
transparent
);

opacity:.12;

pointer-events:none;

transform:
translate(-50%,-50%);

}

.card{

position:absolute;

left:50%;
top:50%;

transform:
translate(-50%,-50%);

width:500px;

padding:50px;

background:
rgba(255,255,255,.05);

backdrop-filter:
blur(30px);

border-radius:40px;

border:
1px solid rgba(255,255,255,.15);

color:white;

transition:.2s;
}

.avatar{

width:120px;

height:120px;

border-radius:999px;

margin:auto;

background:
linear-gradient(
45deg,
#ffffff30,
#ffffff08
);

animation:
float 4s infinite;
}

.title{

font-size:55px;

margin-top:20px;

text-align:center;

}

.subtitle{

opacity:.6;

text-align:center;

margin:15px;
}

button{

width:100%;

padding:18px;

border-radius:999px;

border:none;

cursor:pointer;

font-size:18px;

transition:.2s;
}

button:hover{

transform:
scale(1.05);

}

.visualizer{

display:flex;

gap:10px;

margin-top:25px;

justify-content:center;

}

.visualizer div{

width:8px;

height:30px;

background:white;

animation:
wave 1s infinite;

}

.songbar{

height:6px;

background:#444;

margin-top:20px;

border-radius:999px;

overflow:hidden;

}

#fill{

height:100%;

width:0;

background:white;

}

@keyframes wave{

50%{
height:70px;
}

}

@keyframes float{

50%{
transform:
translateY(-10px);
}

}
